Django==1.7.1
DjangoRestless==0.0.9
Pillow==2.6.1
Pygments==2.0.1
django-tastypie==0.12.1
djangorestframework==2.4.4
psycopg2==2.5.4
python-dateutil==2.2
python-mimeparse==0.1.4
six==1.8.0
virtualenv==1.11.6
